.btn {
    display: inline-block;
    padding: 0.8em 1.5em;
    font-size: 16px;
    line-height: 1em;
    border-radius: 0.3em;
    color: #fff;
    background-color: var(--primary-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover {
    background-color: var(--secondary-color);
}
