body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

/* custom properties, a.k.a. CSS variables */
:root {
    --primary-color: #f34879;
    --secondary-color: #fd685f;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-gradient {
    background: linear-gradient(
        180deg,
        var(--primary-color) 0%,
        var(--secondary-color) 100%
    );
}

img {
    width: 100%;
}

footer {
    background-color: #eee;
}
